@media(max-width:550px){
	.nav li{
		padding: 0 10px 0 15px; 
	}
	aside{
		display:none;
	}
	
	section {
		float:none;
		width: 100%;
	}
	footer li a{
	display:none;
	}
}


@font-face{
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

*{
	box-sizing: border-box;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
	margin:0;
	padding:0;
}

body{
	background-color: #fff;
	font-family: OpenSans;
	font-size: 14px;
}

a {
    text-decoration: none;
}

h1{
	font-size: 50px;
    font-weight: 700;
    padding: 0 0 30px 0;
}


.wrapper{
	max-width: 968px;
	margin: 0 auto;
	padding:50px 46px;
	background-color: white;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75), -4px 0px 5px 0px rgba(0,0,0,0.75) ;
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75), -4px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75), -4px 0px 5px 0px rgba(0,0,0,0.75);
}

.nav{
	background: linear-gradient(#5e5e5e, #434343);
	width:100%;
}

	.nav li{
		float: left;
		position: relative;
		padding: 0 25px 0 30px; 
		border-right: 1px solid transparent;
	}

		.nav li:hover{
			border-right-color: white;
			background: linear-gradient(#4a4a4a, #2e2e2e);
		} 
		
		
			.nav li a{
				display: inline-block;
				line-height: 40px;
				color: #fff;
			}
	
.nav .first{
        display:none;
        position: absolute;
        top: 100%;
        width: 150px;
    }
		.nav .first li{
            width: 100%;
            height: 30px;
            padding: 0;
        }
            .nav .first li a{
                width: 100%;
                line-height: 30px;
                height: 30px;
                color: gray;
            }    
                .nav li:hover .first{
                    display: block;
                }	

aside{
	float: left;
    width: 25%;
}
	aside ul{
		margin-top: 40px;
		margin-left: 10px;
	}
		aside ul li{
			padding: 15px 10px;
			border: 1px solid #c8c8c8;
			transition: 0.7s;
		}
			aside li:nth-child(n+2){
                    border-top: none;      
            } 
				aside a{
					color: #2c2c2c;	
				}
				
					aside li:hover{
                    background-color: #f9f9f9;
                    padding: 15px 10px 15px 40px;
					color: black;
					}	
					
section {
	float:right;
	width: 68%;
}

	img {
		display: block;
		max-width: 100%;
		margin-top: 40px;
	}	
	
	p {
		padding: 20px;
		text-align: jastifi;
	}
	

footer{
	background: #838383;
	width:100%;
}

	footer li{
		float: left;
		padding: 0 25px 0 30px; 
	}
			footer li a{
				display: inline-block;
				line-height: 40px;
				padding-left: 16px;
				padding-right: 16px;
				color: black;
			}
				footer li a:hover{
					text-decoration:underline;
				}
				
					footer ul li:last-child{
						float: right;
						margin-right: 10px;
						line-height: 40px;
					}

 .social li{
background-image: url(../img/networks.png);
background-repeat: no-repeat;
width: 60px;
height: 60px;
display: inline-block;
cursor: pointer;
 }
    .vk:hover{
    background-position:0 -60px;
    }
 
    .facebook{
     background-position: -60px 0;
    }
        .facebook:hover{
            background-position: -60px -60px;
        }
 
    .twitter{
     background-position: -120px 0;
    }
        .twitter:hover{
            background-position: -120px -60px;
        }